/* Cart icon styles */
.cartcontainer {
    position: relative;
  }
  
  #cart-hover {
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  #cart-hover:hover {
  
  }
  
  /* Dropdown menu styles */
  .cart-menu {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .cart-menu.show {
    display: block;
  }
  
  .cart-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    max-width: 50px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart-item-name {
    font-weight: bold;
  }
  
  .cart-item-price {
    color: #333;
  }
  
  .hidden {
    display: none;
  }