.main {
  margin-top: 10px;
}


.featured-products h1{
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
  padding: 10px;
  margin-top: 100px;
}




@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
   
  }
  .add-to-cart-button{
    width: 50%;
  }
}

.product-container {
  padding: 40px 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: large;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  margin-bottom: 10px;
  font-weight: 900;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  margin-bottom: 50px;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  background-color: rgb(0, 162, 255);
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.add-to-cart-button:hover {
  background-color: rgb(72, 255, 0);
}

.add-to-cart-button:active {
  background-color: orange;
}



.cart-item-description{
  overflow: hidden;
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}